.transactionCard {
  display: flex;
  justify-content: center;
  padding-block: 50px;
  background-color: rgb(245, 221, 191);
}

.transactionHistory {
  background-color: wheat;
  padding: 20px;
  border: 1px solid black;
  width: 500px;
}

.table {
}

.row {
  font-size: 20px;
}

.type {
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.amount {
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.currency {
  border-bottom: 1px solid grey;
}
